openapi: 3.1.0
info:
  title: Formstack Confirmations Submissions API
  description: 'REST API for Formstack — manage forms, fields, submissions, confirmations,

    notifications, webhooks, themes, folders, portals, smart lists, subaccounts,

    submit actions, and partial submissions. Authentication uses OAuth 2.0.


    Detailed endpoint definitions are derived from the public developer portal

    at https://developers.formstack.com/ (machine-readable index at

    https://developers.formstack.com/llms.txt).

    '
  version: 2025.0
  contact:
    name: Formstack Developers
    url: https://developers.formstack.com/
servers:
- url: https://www.formstack.com/api/v2
  description: Production v2
security:
- oauth2: []
tags:
- name: Submissions
paths:
  /form/{formId}/submission.json:
    parameters:
    - $ref: '#/components/parameters/formId'
    get:
      summary: List submissions for a form
      operationId: listFormSubmissions
      tags:
      - Submissions
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - name: min_time
        in: query
        schema:
          type: string
          format: date-time
      - name: max_time
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Submissions.
    post:
      summary: Create submission
      operationId: createSubmission
      tags:
      - Submissions
      responses:
        '200':
          description: Submission created.
  /submission/{submissionId}.json:
    parameters:
    - $ref: '#/components/parameters/submissionId'
    get:
      summary: Get submission
      operationId: getSubmission
      tags:
      - Submissions
      responses:
        '200':
          description: Submission.
    put:
      summary: Update submission
      operationId: updateSubmission
      tags:
      - Submissions
      responses:
        '200':
          description: Submission updated.
    delete:
      summary: Delete submission
      operationId: deleteSubmission
      tags:
      - Submissions
      responses:
        '200':
          description: Submission deleted.
components:
  parameters:
    formId:
      name: formId
      in: path
      required: true
      schema:
        type: string
    page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
    per_page:
      name: per_page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
    submissionId:
      name: submissionId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: https://www.formstack.com/api/v2/oauth2/authorize
          tokenUrl: https://www.formstack.com/api/v2/oauth2/token
          scopes:
            forms_read: Read forms
            forms_write: Manage forms
            submissions_read: Read submissions
            submissions_write: Manage submissions
