openapi: 3.1.0
info:
  title: Formstack Confirmations Webhooks API
  description: 'REST API for Formstack — manage forms, fields, submissions, confirmations,

    notifications, webhooks, themes, folders, portals, smart lists, subaccounts,

    submit actions, and partial submissions. Authentication uses OAuth 2.0.


    Detailed endpoint definitions are derived from the public developer portal

    at https://developers.formstack.com/ (machine-readable index at

    https://developers.formstack.com/llms.txt).

    '
  version: 2025.0
  contact:
    name: Formstack Developers
    url: https://developers.formstack.com/
servers:
- url: https://www.formstack.com/api/v2
  description: Production v2
security:
- oauth2: []
tags:
- name: Webhooks
paths:
  /form/{formId}/webhook.json:
    parameters:
    - $ref: '#/components/parameters/formId'
    get:
      summary: List webhooks
      operationId: listWebhooks
      tags:
      - Webhooks
      responses:
        '200':
          description: Webhooks.
    post:
      summary: Create webhook
      operationId: createWebhook
      tags:
      - Webhooks
      responses:
        '200':
          description: Created.
  /webhook/{webhookId}.json:
    parameters:
    - $ref: '#/components/parameters/webhookId'
    get:
      summary: Get webhook
      operationId: getWebhook
      tags:
      - Webhooks
      responses:
        '200':
          description: Webhook.
    put:
      summary: Update webhook
      operationId: updateWebhook
      tags:
      - Webhooks
      responses:
        '200':
          description: Updated.
    delete:
      summary: Delete webhook
      operationId: deleteWebhook
      tags:
      - Webhooks
      responses:
        '200':
          description: Deleted.
components:
  parameters:
    formId:
      name: formId
      in: path
      required: true
      schema:
        type: string
    webhookId:
      name: webhookId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: https://www.formstack.com/api/v2/oauth2/authorize
          tokenUrl: https://www.formstack.com/api/v2/oauth2/token
          scopes:
            forms_read: Read forms
            forms_write: Manage forms
            submissions_read: Read submissions
            submissions_write: Manage submissions
