openapi: 3.1.0
info:
  title: Formstack Confirmations Fields API
  description: 'REST API for Formstack — manage forms, fields, submissions, confirmations,

    notifications, webhooks, themes, folders, portals, smart lists, subaccounts,

    submit actions, and partial submissions. Authentication uses OAuth 2.0.


    Detailed endpoint definitions are derived from the public developer portal

    at https://developers.formstack.com/ (machine-readable index at

    https://developers.formstack.com/llms.txt).

    '
  version: 2025.0
  contact:
    name: Formstack Developers
    url: https://developers.formstack.com/
servers:
- url: https://www.formstack.com/api/v2
  description: Production v2
security:
- oauth2: []
tags:
- name: Fields
paths:
  /form/{formId}/field.json:
    parameters:
    - $ref: '#/components/parameters/formId'
    get:
      summary: List fields
      operationId: listFields
      tags:
      - Fields
      responses:
        '200':
          description: Fields list.
    post:
      summary: Create field
      operationId: createField
      tags:
      - Fields
      responses:
        '200':
          description: Field created.
  /field/{fieldId}.json:
    parameters:
    - $ref: '#/components/parameters/fieldId'
    get:
      summary: Get field
      operationId: getField
      tags:
      - Fields
      responses:
        '200':
          description: Field.
    put:
      summary: Update field
      operationId: updateField
      tags:
      - Fields
      responses:
        '200':
          description: Field updated.
    delete:
      summary: Delete field
      operationId: deleteField
      tags:
      - Fields
      responses:
        '200':
          description: Field deleted.
components:
  parameters:
    formId:
      name: formId
      in: path
      required: true
      schema:
        type: string
    fieldId:
      name: fieldId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: https://www.formstack.com/api/v2/oauth2/authorize
          tokenUrl: https://www.formstack.com/api/v2/oauth2/token
          scopes:
            forms_read: Read forms
            forms_write: Manage forms
            submissions_read: Read submissions
            submissions_write: Manage submissions
